body {
 	font-size: 18px; 
  font-family: 'Alegreya';
}

h1, h2, #top-bar li {
 	
}

div.container-24 {
  z-index: 3;
}


/*
*
*  TOP BAR
*
*/

#top-bar {
  display: none;
 	overflow: hidden;
  position: fixed; 
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.85);
  height: 60px;
}

#top-bar-content {
  display: inline-block;
}

#top-bar img {
 	height: 50px; 
  display: inline-block;
  float: left;
  padding: 5px 30px;
  padding-top: 5px;
}

#top-bar ul {
 	display: inline-block;
  float: left;
}

#top-bar ul li {
 	display: inline-block;
  float: left;
  padding: 0 30px;
  color: #e8e8e8;
 	line-height: 60px;
  font-size: 
}

#top-bar ul li:hover {
 	background-color: #3b3b3b; 
}

/*
*
* MAIN PAGE
*
*/

#front-page {
  width: 100%;
  height: 700px; /* reset height with jQuery */
  display: table;
  text-align: center;
}

#main-logo {
 	height: 100px;
  width: 100px;
  position: absolute;
  top: 10%;
  left: 10%;
}

#front-page-text {
  display: table-cell;
 	font-size: 60px;
  vertical-align: middle;
  z-index: 2;
}

.dotted-underline {
 	border-bottom: 1px dotted;
}

.dotted-underline:hover {
 	cursor: help; 
}

.page-picture {
  height: 400px;
  position: relative;
  margin: 100px 0;
  z-index: 2;
  max-width: 100%;
  overflow: hidden;
}

.page-picture .picture-text {
  top: 100px;
  display: block;
  text-align: left;
}

.page-picture .picture-text span {
  background-color: rgba(10, 10, 10, 0.8000);
  color: white;
  font-size: 60px;
  padding: 10px;
  line-height: 93px;
}

.page-picture .picture-text span.dotted-underline {
  background-color: rgba(0,0,0,0);
  padding: 0px;
}

.page-picture img {
  max-width: 125%;

}

.title {
 	font-size: 60px; 
  margin-bottom: 10px;
}

.body-text {
 	line-height: 1.5; 
}

.quote {
 	font-size: 48px;
  font-style: oblique;
  margin: 20px;
  line-height: 1.5;
  text-align: center;
  border-top: 1px solid black;
}

ul#languages { 
  position: relative;
  height: 300px;
  overflow: hidden;
}

li.language {

}

li.language img {
  position: absolute;
 	height: 210px;
  width: 210px;
  opacity: .65;
  display: none;
}

li.language span {
 	position: absolute;
  line-height: 210px;
  width: 210px;
  text-align: center;
}

li.html5 img, li.html5 span {
  top: 0;
  left: 0;
  display: block;
}

li.css3 img, li.css3 span {
  display: block;
  top: 90px;
  left: 125px;
}

li.php img, li.php span {
 	display: block;
  top: 0;
  left: 250px;
}

li.jquery img, li.jquery span {
 	display: block;
  top: 90px;
  left: 375px;
}

p.speech-bubble  {
 	line-height: 1.5;
  margin-top: 2em;
  clear: left;
}

div#mobile-devices {
 	position: relative;
  height: 450px;
}

#mobile-devices img {
 	position: absolute; 
}

img#imac {
 	left: 0;
  top: 150px;
  background: white;
}

img#ipad {
 	left: 300px;
  top: 246px;
  background: white;
}

img#iphone {
 	left: 470px;
  top: 354px;
  background: white;
}

label {
  display: block;
  float: left;
  text-align: right;
 	 width: 100px;
  margin-right: 5px;
}

input[type=text] {
 	margin-bottom: 10px; 
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  padding: 5px;
}

textarea {
 	border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 350px;
}

input[type=submit] {
 	border: 0;
  padding: 5px 10px;
  background-color: black;
  text-align: right;
  position: relative;
  left: 105px;
  margin-top: 10px;
  font-family: 'Alegreya';
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
}

.form-background {
 	background: #f3b479; 
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
































